:root{
    --color-dark: #333;
    --color-light: #eee;
    --text-white: white;
    --padding-default: 1rem;
    --img-width: 200px;
}

nav {
    background-color:var(--color-dark);
    padding: (var(--padding-default));
    text-align: center;
}
nav a {
    color: var(--text-white);
    text-decoration: none;
    margin: 0 var(--padding-default);
}
h1 {
    font-size: 2rem;
    color: var(--color-dark);
    text-align: center;
}

p{
    padding: 0;
}
main{
    max-width: 840px;
}
main img{
    width: var(--img-width);
    height: auto;
}
aside{
    width: 20rem;
    margin: var(--padding-default);
    border: 1px solid rgb(0,0,0,0.2);
    padding: var(--padding-default);
    background-color: var(--color-light);
    color: var(--color-dark);
    text-align: center;
}
aside img{
    width: var(--img-width);
    height: auto;
}
footer{
    margin-top: 15px;
    border-top:1px solid #000;
    text-align: center;
    
}